/*
 * @Author: jecyu 
 * @Date: 2018-01-28 19:04:27 
 * @Last Modified by: jecyu
 * @Last Modified time: 2018-02-28 23:54:00
 */

@import "../common/styles/components/buttons.scss";
$basecolor: hsl(25, 85%, 52%);
$main-theme-color: $basecolor;
$cyan: hsl(116, 73%, 64%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 37%);
@mixin setColorAndHover($baseColor) {
  // Color: $baseColor;
  &:hover {
    background: lighten($baseColor, 40%);
  }
}

@mixin setShadow {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}

// When there is no questionnaire
.page-content {
  width: 100%;
  min-height: 40rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding: 0 3.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
  background: hsl(0, 0%, 100%);
}

.mod-quest {
  &__head {
    position: relative;
    padding: 2rem;
    text-align: center;
    .mod-quest__title {
      display: inline-block;
      width: 100%;
      height: 5rem;
      line-height: 5rem;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      color: darken($dark-gray, 0);
      &:hover {
        cursor: pointer;
        background-color: hsl(25, 85%, 95%);
      }
    }
  }
  &__back {
    position: absolute;
    left: 0;
    top: 4rem;
  }
  &__body {
    padding: 2rem;
    border: 0.2rem solid lighten($dark-gray, 40);
    border-left: 0;
    border-right: 0; // Question-title or question-option
    input[type="text"] {
      display: inline-block;
      min-width: 50rem;
      background: transparent;
      &:focus {
        font-weight: 600;
      }
    }
  }
  &__foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
}

.question {
  position: relative;
  &__item {
    position: relative;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    border: 2px solid hsl(0, 0%, 80%);
    &:hover {
      background: hsl(29, 79%, 94%);
    } // Required ?
    .question__message {
      position: absolute;
      right: 2rem;
      top: 1.6rem;
      &-checkbox {
        vertical-align: -0.2rem;
      }
    }
  } // Question-text
  &__item-text {
    // Text box
    .question__option-textarea {
      width: 60rem;
    }
  }
  &__title {
    overflow: hidden;
    font-weight: 500;
    &-order {
      margin-right: 0.6rem;
    }
    &-data {
      display: block;
      margin-right: 33rem;
    } // Is-required
    &--is-required::before {
      content: "*";
      display: inline-block;
      color: red;
    }
  }
  &__option-item {
    overflow: hidden;
    margin: 1rem 0 1rem 3rem;
  }
  &__option-label {
    vertical-align: 0.2rem;
    cursor: pointer;
  }
  &__option-data {
    margin-right: 5rem;
  }
  &__option-data--multi {
    position: absolute;
    z-index: 6;
    top: 1rem;
    right: 4rem;
    width: 300px;
    height: 100%;
  }
  &__option-dataO {
    position: relative;
    display: inline-block;
    height: 1rem;
    width: 30rem;
    border: 1px solid hsl(0, 0%, 80%);
  }
  &__option-dataI {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 1rem;
    width: 15rem;
    background-color: hsl(25, 85%, 52%);
  } // Question button
  &__btn {
    padding: 0;
    min-width: 5rem;
    border: 0.1rem dashed;
    background: transparent;
  }
  &__icon {
    margin-right: 0.4rem;
  }
}