/**
 * @Author: Jecyu
 * @Date: 2017-10-26 10:36:53 pm 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-27 5:12:42 pm 
 */

/* 导航 */
.navbar {    
    padding: 20px;
    margin: 0;
    border: none;
    background: #722872;
}

.navbar .navbar-btn {
    width: 110px;
    font-size: 18px;
}


