<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('html-loader!./layout/head-common.html')  %>
        <title>问卷列表页</title>
</head>

<body>   
    <%= require('html-loader!./layout/nav-sample.html')  %>
    <main>
        <div class="page-wrap">

            <table class="questionnaire-list">
                <thead class="quest-head">
                    <tr>
                        <th class="quest-cell cell-select">&nbsp;</th>
                        <th class="quest-cell cell-title">标题</th>
                        <th class="quest-cell cell-date">时间</th>
                        <th class="quest-cell cell-status">状态</th>
                        <th class="quest-cell cell-opera">操作</th>
                        <th class="quest-cell cell-create"><span class="create-btn"><i class="fa fa-plus"></i>新建问卷</span></th>
                    </tr>
                </thead>
                <tbody class="quest-body">
                    <tr class="quest-item">
                        <td class="quest-cell cell-check">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td class="quest-cell">这是我的第一份问卷</td>
                        <td class="quest-cell">2016-04-12 20:46:52</td>
                        <td class="quest-cell release">发布中</td>
                        <td class="quest-cell cell-oprea" colspan="2">
                            <span class="oprea-btn">编辑</span>
                            <span class="oprea-btn">删除</span>
                            <span class="oprea-btn">查看数据</span>
                        </td>
                    </tr>
                    <tr class="quest-item">
                        <td class="quest-cell cell-check">
                            <i class="fa fa-circle-o"></i>
                        </td>
                        <td class="quest-cell">这是我的第一份问卷</td>
                        <td class="quest-cell">2016-04-12 20:46:52</td>
                        <td class="quest-cell">已结束</td>
                        <td class="quest-cell cell-oprea" colspan="2">
                            <span class="oprea-btn active">编辑</span>
                            <span class="oprea-btn">删除</span>
                            <span class="oprea-btn">查看数据</span>
                        </td>
                    </tr>
                    <tr class="quest-item">
                        <td class="quest-cell cell-check">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td class="quest-cell">这是我的第一份问卷</td>
                        <td class="quest-cell">2016-04-12 20:46:52</td>
                        <td class="quest-cell">未发布</td>
                        <td class="quest-cell cell-oprea" colspan="2">
                            <span class="oprea-btn">编辑</span>
                            <span class="oprea-btn">删除</span>
                            <span class="oprea-btn">查看数据</span>
                        </td>
                    </tr>
              
                </tbody>
                <tfoot class="quest-footer">
                    <tr>
                        <td class="quest-cell cell-check">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td class="quest-cell" colspan="5">全选<span class="oprea-btn">删除</span></td>
                    </tr>
                </tfoot>
            </table>
            <!-- <div>
                <i></i>
                <span>新建问卷</span>
            </div> -->
        </div>
    </main>
    <%= require('html-loader!./layout/footer.html')  %>
</body>

</html>