/**
 * @Author: Jecyu
 * @Date: 2017-10-26 8:30:39 am 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-11-09 12:32:52 pm 
 */
 
/* footer */
.footer {
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #722872;    
}

.footer .footer-above {
    height: 100px;  
    background: rgba(0, 0, 0, .2);
}

.footer .footer-below {
    height: 100px;  
    line-height: 100px;  
}

