/**
 * @Author: Jecyu
 * @Date: 2017-10-23 6:21:36 pm 
 * @Modified By: JeCyu 
 * @Last Modified time: 2017-10-27 5:18:46 pm 
 */

$basecolor: rgb(237, 115, 29);
$item1: rgb(238, 238, 238);



html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    font: 1.4rem/1.5 arial Microsoft Yahei sans-serif;
    background: $item1;   
}

html {
    font-size: 62.5%;
}

ul,
ol,
li {
    list-style: none;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
thead,
tbody,
tfoot,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    border: none;
}

a {
    text-decoration: none;
}

/* common style */
.w {
    width: 10.8rem;
}

.container {
    position: relative;
    width: 100%;
}

