$basecolor: #ed731d;
$item1: #fdfdfd;
$item2: #eee;
$item3: #6ae661;
$item4: #fff;
$fontColor: #5f5f5f;

@mixin setColorAndHover($baseColor) {
    // color: $baseColor;
    &:hover {
        background: lighten($baseColor, 40%);
    }
}

@mixin setShadow {
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .4);
}

.page-wrap {
    width: 108rem;
    margin: 0 auto;
}

.questionnaire-list  {
    width: 100%;
    // table-layout: fixed;
    margin-bottom: 20rem;
    padding: 1rem;    
    border-collapse: collapse;
    font-size: 1.4rem;
    color: $fontColor;

    .quest-item {
        @include setColorAndHover($basecolor);
        cursor: pointer;

        .quest-cell {
            &.release {
                color: $item3;
            }

            .oprea-btn.active {
                color: $item1;
                background: $basecolor;
            }
        }
    }
    .quest-head {
        .quest-cell {
            font-weight: normal;
        }

        .cell-create {
            padding-right: 1rem;
            text-align: right;
        }

        .fa {
            margin-right: 1rem;
        }
    }

    .quest-body,
    .quest-footer {
        background: $item1;
    }
    
    .quest-body  {
        tr {
            padding: 0 1rem;
        }      
        .quest-cell {
            border-bottom: .2rem solid darken($item2, 5%);
        }

        .cell-oprea {
            text-align: right;
        }
    }

    .quest-footer  {
        .quest-cell {
            height: 10rem;
            vertical-align: top;
        }

        .opera-btn {
            margin-left: 2rem;
        }
    }

    .quest-cell {
        padding: 2rem 1rem;
    }

    .cell-check {
        text-align: right;
        color: darken($item2, 10%);
        cursor: pointer;

        .fa-circle-o {
            color: $basecolor;
        }
    }
}

.opera-btn {
    display: inline-block;
    width: 8rem;
    height: 2.5rem;
    margin-right: 1rem;
    border: .1rem solid darken($item2, 20%);
    border-radius: .4rem;

    color: $fontColor;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    background: $item1;
}

.create-btn {
    display: inline-block;
    width: 12rem;
    height: 3rem;
    border-radius: .2rem;

    text-align: center;    
    line-height: 3rem;
    color: $item1;
    background: $basecolor;
    cursor: pointer;
}

// 当前没有问卷时
.create-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 108rem;
    height: 40rem;
    margin-top: 10rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .4);
    background: $item4;
}
.create-btn.large {
    display: block;
    height: 6rem;
    width: 24rem;

    text-align: center;
    line-height: 6rem;
    font-size: 2rem;

    .fa-plus {
        padding-right: 1rem;
    }
}





